<ao-enterprise-grid ao-grid-data [gridData]=userGridDataPromise  ao-grid-config [gridConfig]=gridConfig></ao-enterprise-grid>




















<!-- <ao-enterprise-grid 
style="width: 150px; height:750px"
class="ag-theme-balham"
[columnDefs]= "columnDefs"
(gridReady)="onGridReady($event)"
></ao-enterprise-grid> -->
<!-- *ngIF="enableActionToolBar.enable" --> 

<!-- <h3>Publications</h3><br> -->

<!-- <table class="table table-sm" justify-content-center>
    <thead>
        <th>Name</th>
        <th>Address</th>
        <th>Designation</th>
    </thead>
    <ng-container *ngFor="let detail of dataArray">
        <tr class="table-dark">
            <td>{{detail.id}}</td>
            <td>{{detail.name}}</td>
            <td>{{detail.designation}}</td>
        </tr>
    </ng-container>
</table> -->
